version: "3.7"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - {{ prom_dir_conf }}:/etc/prometheus
      - prom_data:/prometheus
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER={{ gf_user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ gf_pass }}
    volumes:
      - ./grafana:/etc/grafana/provisioning/datasources
    
volumes:
  prom_data:
