

global:
  scrape_interval: 15s
  evaluation_interval: 15s 
  
  external_labels:
      monitor: 'example'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s


    static_configs:
      - targets: ['localhost:9090']


  - job_name: 'mysqld_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ mysql_host }}:9104']

  - job_name: "nginx-prometheus-exporter"
    scrape_interval: 5s
    static_configs:
      - targets: ['{{ web_host }}:9113']


